<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <link rel="apple-touch-icon"
        href="<%= htmlWebpackPlugin.options.statics.icon[htmlWebpackPlugin.options.statics.ico] %>">
  <link rel="shortcut icon"
        href="<%= htmlWebpackPlugin.options.statics.icon[htmlWebpackPlugin.options.statics.ico] %>">

</head>
<body>
  <div id="app" class=""></div>
</body>
</html>
